h1 {
  text-align: center;
  font-size: 2rem;
  color: #6a1b9a;
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #6a1b9a;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-arrow {
  margin-right: 100px;
}
