html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  color: #6a1b9a;
  text-align: center;
}

.help {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

form {
  text-align: center;
}

.contact-form {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.contact-form button:hover {
  background-color: #5e1492;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info strong {
  color: #6a1b9a;
}

.opening-hours {
  margin-top: 40px;
  text-align: center;
  font-size: 1.1rem;
}

.back-arrow {
  cursor: pointer;
  margin-right: 10px;
}

h1 img:hover {
  transform: scale(1.1);
}

.button{
  background-color: white;
  border-color: rgb(6,95,212);
  border-style: solid;
  border-width: 1px;
  color: rgb(6,95,212);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.30s, color 0.30s;
}
.button:hover{
  background-color: rgb(6,95,212);
  color: white;
}
.button:active{
  opacity: 0.8;
}
