* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #2d2d2d;
  line-height: 1.6;
}

.navbar {
  background-color: transparent;
  padding: 35px 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
  font-size: 24px;
  color: #2d2d2d;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #2d2d2d;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar ul li a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.navbar ul li a:hover {
  color: #000000;
  transform: scale(1.1);
}

.navbar ul li a:hover::before {
  width: 100%;
}

.navbar-search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-search input {
  padding: 7px 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  font-size: 14px;
  width: 200px;
  background-color: #e8e7e7;
  color: #2d2d2d;
  transition: all 0.3s ease;
}

.navbar-search input:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar-search button {
  padding: 7px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #2d2d2d;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-search button:hover {
  background-color: #000000;
}

.contact-info {
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact-info h2 {
  font-size: 28px;
  color: #2d2d2d;
  margin-bottom: 20px;
}

.contact-info form {
  display: flex;
  flex-direction: column;
}

.contact-info label {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #2d2d2d;
}

.contact-info input,
.contact-info textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.contact-info button {
  padding: 10px 20px;
  background-color: #2d2d2d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-info button:hover {
  background-color: #000000;
}