html, body {
  height: 100%;
  margin: 0;
  background-color: #7e63d6;
}


header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(45, 25, 96);
  padding: 10px 20px;
}

.header-top {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.header_title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 10px;
}

.navbar {
  margin-top: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar a:hover {
  color: #007bff;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 16px;
  margin-left: 10px;
}

.search-button {
  padding: 10px 15px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056A0;
}

.socialmedia {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 40px;
}

.promo {
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  width: 400px;
  transition: transform 0.3s ease;
}

.promo:hover, .phone:hover {
  transform: scale(1.1);
}

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, #007BFF, #00A1FF, #007BFF);
  margin: 20px 0;
}

h1, p{
  color: white;
}