* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: transparent;
  padding: 35px 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  backdrop-filter: blur(45px);
  top: 0;
  flex-grow: 1;
}

.navbar ul {
  list-style: none;
  gap: 25px;
  display: flex;
  position: sticky;
  margin: 0;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #2d2d2d;
  transition: 0.3s ease;
}

.navbar ul li a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 5px;
  bottom: -5px;
  background-color: #000000;
  transition: 0.3s ease;
}

.navbar ul li a:hover::before {
  width: 100%;
}

.navbar-search {
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  gap: 10px;
}

.navbar-search input {
  padding: 7px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 17px;
  width: 250px;
  background-color: #e8e7e7;
  color: #333;
  transition: 0.3s ease;
}

.navbar-search button {
  padding: 7px 10px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #e1dfdf;
}

.navbar-search .fas {
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.producten {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.producten img {
  width: 220px;
  height: auto;
  transition: transform 0.3s ease;
}

.producten img:hover {
  transform: scale(1.1);
}

.promo {
  display: block;
  margin: 0 auto;
  border-radius: 5%;
}